<div class="nav-container">
  <nav class="nav-bar">
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/family">Family</a>
      </li>
      <li>
        <a routerLink="/transactions">Transactions</a>
      </li>
      <li>
        <a routerLink="/logout">Logout</a>
      </li>
      <li class="username-holder">
        <mat-icon class="user-icon">account_circle</mat-icon>
        <p style="float: right;">{{ currentUser.FirstName }}</p>
      </li>
    </ul>
  </nav>
</div>