.nav-container {
  width: 100%;
}
.nav-bar {
  background-color: rebeccapurple;
}
.username-holder {
  float: right;
  flex:auto;
  color: white;
  font-size: 100%;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: block;
  padding: 5px;
  margin: 5px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-bottom: 5px;
}

li a {
  font-size: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: block;
  padding: 8px;
  color: white;
  background-color: rebeccapurple;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(175, 97, 175);
}
