<div class="container">
    <app-navbar></app-navbar>

    <mat-accordion class="mat-accordion-custom">
        <app-account-details></app-account-details>
    </mat-accordion>
    <mat-divider></mat-divider>
    <mat-accordion class="mat-accordion-custom">
        <mat-expansion-panel>
            <mat-expansion-panel-header (opened)="accountDetailsPanel">
                <mat-panel-title>
                    <mat-icon class="ng-mat-icon">group</mat-icon>
                    <h2> Family members:</h2>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <ul *ngFor="let member of familyMembers">
                    <li>
                        <label class="info-label">{{ member.FirstName }} {{ member.LastName }}</label>
                        <span class="value-label">{{ member.Relationship }}</span>
                    </li>
                    <mat-divider></mat-divider>
                </ul>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>