.transaction-list {
    float: right;
    position: absolute;
    margin-bottom: 5px;
}

.transaction {
    margin-bottom: 5px;
}

.transaction-title {
    color: purple;
    font-weight: bold;
}

.fullname-label {
    padding-top: 5px;
}

.details-label {
    font-weight: 600;
    width: 20%;
    justify-content: center;
    float: left;
}
