<div class="transactions-card">
    <mat-expansion-panel class="transactions-container">
        <mat-expansion-panel-header (opened)="transactionsPanelOpenState">
            <mat-panel-title class="transaction-title">
                <h2 class="fullname-label">Transactions history</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
            <mat-accordion>
                <mat-expansion-panel class="transaction" *ngFor="let transaction of myTransactionsList">
                    <mat-expansion-panel-header (opened)="panelOpenState">
                        <mat-panel-title class="transaction-title">
                            <h3 class="fullname-label">{{ transaction.Reference }}</h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <div>
                        <ul>
                            <li>
                                <label class="details-label">Account No</label>
                                <span class="info-value">: {{transaction.AccountNo}}</span>
                            </li>
                            <li>
                                <label class="details-label">Deposit: </label>
                                <span class="info-value">:R{{transaction.Deposit}}</span>
                            </li>
                            <li>
                                <label class="details-label">Withdrawal</label>
                                <span class="info-value">:R{{transaction.Withdrawal}}</span>
                            </li>
                            <li>
                                <label class="details-label">Date</label>
                                <span class="info-value">:{{transaction.Date}}</span>
                            </li>
                        </ul>
                    </div>
                    <mat-divider></mat-divider>
                    <button mat-raised-button class="raised-btn" color="accent"
                        (click)="deleteTransaction(transaction)">
                        <mat-icon>delete</mat-icon>Delete
                    </button>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-accordion>
    </mat-expansion-panel>
</div>