/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    margin-left: 5px;
    margin-right: 15px;
    padding: 5px;
}

.site-header {
    color : white;
    background-color: rebeccapurple;
    text-align: center;
}

.site-link {
    font: sans;
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    margin: 10px;
}
.raised-btn {
    margin: 5px;
}
.ng-mat-icon {
    padding: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0;
        padding: 0;
    }
}