  
  <div class="container">
  <app-navbar></app-navbar>
  <mat-card>
    
    <form class="sign-up-form">
      <mat-card-title>
        <h2>Sign up</h2>
      </mat-card-title> 
      <div class="signup-container">
        <mat-form-field appearance="fill">
          <mat-label>First name:</mat-label>
          <input name="firstname" matInput >
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Last name:</mat-label>
          <input name="lastname" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Phone number:</mat-label>
          <input name="phoneNumber" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Password:</mat-label>
          <input name="password" matInput type="password">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Confirm password:</mat-label>
          <input name="confirmPassword" matInput type="password">
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="primary">Sign up</button>
      </div>
    </form>
    </mat-card>
</div>
